@font-face {
    font-family: 'lato';
    src: url('./fonts/Lato-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lato-bold';
    src: url('./fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'lato-regular';
    src: url('./fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}


body {
    margin: 0; 
    padding: 0; 
    background-color: #fff;
}

#content {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.sidebar {
    height: 100vh;
    background-color: #f2f5f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 8px rgb(144, 144, 144);
}

ul {
    padding-left: 1.5rem;  
    list-style: none;
    margin-top: 2rem; 
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    font-size: 1.2em;
    color: black;
}

li {
    font-family: 'lato';
    list-style-type: none;
}

li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.create-new {
    font-family: 'lato-bold';
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background-color: #5c9cf5;
    color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #5c9cf5;
    font-size: 2.5rem;
    padding: 1rem;
    font-family: 'lato-regular';
    border-bottom: 1px solid rgba(0, 0, 0, 0.266); 
    color: white;
}

.modal-content {
    display: flex;
    flex-direction: row;
    height: 83.1%; 
}

.modal-text {
    width: 100%;
    min-width: max-content;
}

.modal-sidebar {
    background-color: #f2f5f7;
    width: 9rem;
    box-shadow: 0px 2px 8px rgb(144, 144, 144);
    max-height: 100%;
}

.modal-sidebar-options {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem; 
    padding-top: 1.5rem;
    gap: 1rem; 
    font-size: 1.2rem;
}

/* Modal Content */
.modal-container {
    height: 100%;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; 
    height: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.556);
    min-width: 40rem; 
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-weight: bold;
    margin-right: 1rem;
}

.close:hover,
.close:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

#todo-page, #project-container, #note-container {
    height: 95%;
    padding-top: 0.6rem;
    padding-left: 2rem; 
    padding-bottom: 0.6rem;
    padding-right: 0.6rem; 
    width: 92%;

}

.todo-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-todo-inputs, .note-upper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#title-input, #details-input, #project-title, #note-title, #note-details {
    border: none; 
    outline: none;
    background-color: transparent;
}

#title-input, #project-title, #note-title {
    font-size: 1.2rem;
}

#details-input, #note-details {
    font-size: 1rem;
    width: 100%; 
}


.lower-todo-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.date-and-priority {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.priority-box{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-family: 'lato-regular';
}

.date-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'lato-regular';
}

#date {
    border: 1px solid lightgray; 
    border-radius: 5px;
    width: 6.6rem;
    height: 1.6rem;
    color: gray;
    padding-right: 1rem;
    padding-left: 1rem;
}

#priority-selector {
    display: flex;
    gap: 1rem;
}

.priority-button {
    border-radius: 5px;
    background-color: transparent;
    height: 1.5rem;
    width: 5rem;
}

.priority-button:hover {
    cursor: pointer;
}

.add-todo {
    font-size: 0.8rem;
    height: 1.9rem;
    width: 6.5rem;
    border-radius: 4px;
    border: 1.5px solid #5c9cf5;  
    background-color: transparent;
    color: #5c9cf5;
    font-family: 'lato-bold';
}

.add-todo:hover, .create-project-btn:hover, .create-note-btn:hover, .details-button:hover {
    cursor: pointer;
    border: 1px solid #5c9cf5;  
    background-color: #5c9cf5;
    color: white;
}


.project-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-project-btn, .create-note-btn {
    width: 25%;
    height: 1.9rem;
    border-radius: 4px;
    font-family: 'lato-bold';
    border: 1.5px solid #5c9cf5; 
    color: #5c9cf5;
    background-color: transparent;
}

.note-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.home-page, .homepage-content {
    max-width: 100%;
    max-height: 100%;
}

.homepage-content {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.page-title {
    font-family: 'lato-bold';
    font-size: 2rem;
}

.todo-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    gap: 8rem;
    background-color: #f2f5f7;
    border: 1px solid rgba(0, 0, 0, 0.15); 
    border-radius: 2px;
    border-left: 4px solid #5c9cf5;
    font-family: 'lato';
    font-size: 1.2rem;
}

.todo-box:hover {
    box-shadow: 3px 3px 7px rgb(144, 144, 144);
    transform: scale(1.003);
}

.left-bar, .right-bar {
    display: flex;
    align-items: center;
    gap: 1.3rem; 
}

.right-buttons {
    display: flex;
    gap: 0.6rem; 
}

.date-text {
    width: 3.8rem; 
    font-size: 0.95rem;
    font-family: 'lato-regular';
    
}

.details-button {
    font-size: 0.8rem;
    height: 1.9rem;
    width: 6.5rem;
    border-radius: 4px;
    border: 1px solid #5c9cf5;  
    background-color: transparent;
    color: #5c9cf5;
    font-family: 'lato-bold';
}

.edit-button  {
    background-image: url('/src/icons/8666681_edit_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    
}

.delete-button {
    background-image: url('/src/icons/3844460_can_trash_icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.delete-button, .edit-button {
    width: 2rem;
    height: 2rem;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border: none;
    text-align: center;
    background-color: transparent;
}

.delete-button:hover, .edit-button:hover {
    opacity: 0.3;
    cursor: pointer;
}



/* styling for checkbox */
.checkbox-wrapper-19 {
display: flex;
box-sizing: border-box;
--background-color: #fff;
--checkbox-height: 25px;
}

@-moz-keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@-webkit-keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothabottomcheck-19 {
0% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) / 2);
}
}

@keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

@-webkit-keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

@-moz-keyframes dothatopcheck-19 {
0% {
    height: 0;
}
50% {
    height: 0;
}
100% {
    height: calc(var(--checkbox-height) * 1.2);
}
}

.checkbox-wrapper-19 input[type=checkbox] {
display: none;
}

.checkbox-wrapper-19 .check-box {
height: var(--checkbox-height);
width: var(--checkbox-height);
background-color: transparent;
border: calc(var(--checkbox-height) * .1) solid #5c9cf5;
border-radius: 5px;
position: relative;
display: inline-block;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-transition: border-color ease 0.2s;
-o-transition: border-color ease 0.2s;
-webkit-transition: border-color ease 0.2s;
transition: border-color ease 0.2s;
cursor: pointer;
}
.checkbox-wrapper-19 .check-box::before,
.checkbox-wrapper-19 .check-box::after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
position: absolute;
height: 0;
width: calc(var(--checkbox-height) * .2);
background-color: #5c9cf5;
display: inline-block;
-moz-transform-origin: left top;
-ms-transform-origin: left top;
-o-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;
border-radius: 5px;
content: " ";
-webkit-transition: opacity ease 0.5;
-moz-transition: opacity ease 0.5;
transition: opacity ease 0.5;
}
.checkbox-wrapper-19 .check-box::before {
top: calc(var(--checkbox-height) * .72);
left: calc(var(--checkbox-height) * .41);
box-shadow: 0 0 0 calc(var(--checkbox-height) * .05) var(--background-color);
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
transform: rotate(-135deg);
}
.checkbox-wrapper-19 .check-box::after {
top: calc(var(--checkbox-height) * .37);
left: calc(var(--checkbox-height) * .05);
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box,
.checkbox-wrapper-19 .check-box.checked {
border-color: #5c9cf5;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::after,
.checkbox-wrapper-19 .check-box.checked::after {
height: calc(var(--checkbox-height) / 2);
-moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
-o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
-webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
animation: dothabottomcheck-19 0.2s ease 0s forwards;
}
.checkbox-wrapper-19 input[type=checkbox]:checked + .check-box::before,
.checkbox-wrapper-19 .check-box.checked::before {
height: calc(var(--checkbox-height) * 1.2);
-moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
-o-animation: dothatopcheck-19 0.4s ease 0s forwards;
-webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
animation: dothatopcheck-19 0.4s ease 0s forwards;
}












